.kiscim {
    background-color: #555;
    color: #ddd;
    padding: 16px 0;
    box-shadow: #000 0px 0px 6px;
}

.kiscim .input-group {
    margin: 8px;
}

.kiscim .input-group > div:first-of-type {
    border: #fff solid 2px;
    border-top-width: 4px;
    box-shadow:
        #000 1px 1px 0px,
        #000 2px 2px 0px;
    padding: 8px 10px 10px 10px;
    margin-top: 0px;
}

.kiscim .input-group > h4:first-of-type {
    margin: 0px 0px 0px 0px;
    color: #fff;
}

.kiscim input {
    background-color: transparent;
    padding: 1px 2px;
    border: none;
    border-bottom: 2px solid #fff8;
    color: #fff;
    transition: outline 100ms;
    cursor: text !important;
}

.kiscim input[type=text] {
    font-size: 16px;
}

.kiscim input[type=number] {
    font-size: 16px;
}

.kiscim input[disabled] {
    border-bottom-color: #fff4;
}

.kiscim input:focus {
    border-bottom: 2px solid #00BBFF;
    outline: none;
}

.kiscim button {
    background-color: #666;
    box-shadow:
        #000 1px 1px 0px,
        #000 2px 2px 0px,
        #000 3px 3px 0px,
        #000 4px 4px 0px;
    border: 2px solid #000;
    padding: 4px 6px;
    font-size: 22px;
    font-weight: bolder;
    color: #fff;
    transition: outline 100ms;
    cursor: pointer !important;
    margin: 0px 4px;
}

.kiscim button:hover {
    box-shadow:
        #00BBFF 1px 1px 0px,
        #00BBFF 2px 2px 0px,
        #00BBFF 3px 3px 0px,
        #00BBFF 4px 4px 0px;
    border-color: #00BBFF;
    color: #fff;
}

.kiscim button:active {
    border-color: #00BBFF;
    box-shadow: #00BBFF 1px 1px 0px;
    color: #fff;
    transform: translate(3px, 3px);
}