.headerfade {
  opacity: .5;
  background-color: black;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
}

.header {
  color: white;
  background-image: url("https://lh5.googleusercontent.com/p/AF1QipNv3m32eXw2ZWYBlkgQj84WcNgqPt6nBAa_X3oH=h1440");
  background-position: center;
  background-size: cover;
  padding: 75px 0px 150px 0px;
}

.header h1 {
  padding: 10px 110px;
  background: rgba(0, 39, 53, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin: 0;
  color: #0090C5;
  font-size: 25px;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  padding-right: 160px !important;
  min-height: 48px;
}

.header h1 span {
  border-left: 2px solid #0090C5;
  padding-left: 15px;
  margin-left: 15px;
  color: #c9c9c9;
}

.header-btns {
  position: absolute;
  top: 10px;
  right: 104px;
  width: 100%;
}

.header-btns .header-btn {
  height: 25px;
  width: 25px;
  margin: 0;
  float: right;
  z-index: 99;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

#logo-gszi, #logo-bszc {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 50px;
}
#logo-gszi {
  left: 155px;
}
#logo-bszc {
  left: 250px;
}

#logo-gszi>img, #logo-bszc>img {
  width: 85px;
  filter: drop-shadow(5px 5px 4px #000a);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .header h1 {
    font-size: 25px;
  }

  .header {
    padding: 100px 0px 150px 0px;
  }
  #logo-gszi, #logo-bszc { top: 70px; }
  #logo-gszi { left: 155px; }
  #logo-bszc { left: 250px; }
}

@media screen and (max-width: 992px) {
  .header h1 {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 833px) {
  .header h1 {
    font-size: 15px;
    padding: 10px 5px;
  }
  
  .header {
    padding: 60px 0px 60px 0px;
  }

  #logo-gszi>img, #logo-bszc>img {
    width: 45px;
  }
  #logo-gszi, #logo-bszc { top: 40px; }
  #logo-gszi { left: 125px; }
  #logo-bszc { left: 175px; }
}
