
html, body { height: 100% }

* {
  box-sizing: border-box;
}

iframe {
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #000;
}

.body {
  flex: 70%;
}

.row {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
}

.main-title {
  padding: 20px 0;
  background-color: #00BBFF;
  margin: 0;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #fff;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

textarea {
  border: 1px solid #0006;
  font-size: large;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  transition: box-shadow 200ms;
  width: 100%;
}

textarea:focus {
  border: 1px solid #0006;
  outline: none;
  box-shadow: #0006 0px 0px 3px 1px;
}

input[type=submit] {
  border-radius: 3px;
  background-color: #e4e4e4;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  min-width: 100px;
  transition: background-color 200ms, box-shadow 200ms;
  margin-bottom: 10px;
}

input[type=submit]:hover {
  background-color: #cacaca;
  box-shadow: #0006 0px 0px 5px;
}

input[type=submit]:active {
  background-color: #b1b1b1;
  transition: background-color 100ms, box-shadow 10ms;
  box-shadow: #0006 0px 0px 3px;
}

body > *:not(.modal):not(#tablo-modal) {
  transition: filter 300ms;
}
body.tablo-showing > *:not(.modal):not(#tablo-modal) {
  filter: blur(6px);
}
body.tablo-showing {
  overflow: hidden;
}