
html, body { height: 100% }

* {
  box-sizing: border-box;
}

iframe {
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 70%;
}

.row {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
}

.main-title {
  padding: 20px 0;
  background-color: #00BBFF;
  margin: 0;
  font-size: 23px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #fff;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

textarea {
  border: 1px solid #0006;
  font-size: large;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  transition: box-shadow 200ms;
  width: 100%;
}

textarea:focus {
  border: 1px solid #0006;
  outline: none;
  box-shadow: #0006 0px 0px 3px 1px;
}

input[type=submit] {
  border-radius: 3px;
  background-color: #e4e4e4;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  min-width: 100px;
  transition: background-color 200ms, box-shadow 200ms;
  margin-bottom: 10px;
}

input[type=submit]:hover {
  background-color: #cacaca;
  box-shadow: #0006 0px 0px 5px;
}

input[type=submit]:active {
  background-color: #b1b1b1;
  transition: background-color 100ms, box-shadow 10ms;
  box-shadow: #0006 0px 0px 3px;
}

.tablo {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-shadow: #000 0px 0px 8px;
  background-color: #888;
  font-weight: 1000;
  font-size: 24px;
  /* -webkit-text-stroke-width: 2px; */
  /* -webkit-text-stroke-color: black; */
  overflow: hidden;
  text-overflow: clip;
  height: 350px;
  border-radius: 3px;
  box-shadow: #0008 0px 0px 4px;
  transition: transform 500ms, box-shadow 500ms, border 500ms;
  cursor: pointer;
  border: 1px solid #fff0;
}

.tablo * {
  pointer-events: none;
}

.tablo > div {
  height: 100%;
  width: 100%;
  position: relative;
  top: -24px;
  opacity: 0;
  transition: opacity 200ms;
  background-color: #0008;
}

.tablo:hover {
  transform: scale(1.05);
  z-index: 1;
  box-shadow: #0006 0px 0px 16px;
  border: 1px solid #ffff;
}

.tablo:hover>div {
  opacity: 1;
}

.tablos {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-columns: 33%;
  grid-gap: 5px;
  place-items: center;
  width: calc(100% - 10px);
  padding: 0 30px;
}

@media screen and (max-width: 1400px) {
  .tablos {
    grid-template-columns: 50% 50%;
    grid-auto-columns: 50%;
    width: calc(100% - 5px);
  }
}

@media screen and (max-width: 700px) {
  .tablos {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

.year-panel {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 55px;
}

.year-panel > span {
  right: 0px;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  margin: 10px;
  padding: 2px 8px;
  border-radius: 3px;
  box-shadow: #0008 1px 1px 3px;
  font-size: 24px;
}