.tablo {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-shadow:
    #000 1px 1px 1px,
    #000 2px 2px 1px,
    #000 3px 3px 1px;
  background-color: #888;
  font-weight: 1000;
  font-size: 24px;
  /* -webkit-text-stroke-width: 2px; */
  /* -webkit-text-stroke-color: black; */
  overflow: hidden;
  text-overflow: clip;
  height: 350px;
  transition: opacity 300ms;
  cursor: pointer !important;
  box-shadow:
    #000 inset 1px 0px 2px,
    #000 inset 0px 1px 2px,
    #000 inset -1px 0px 2px,
    #000 inset 0px -1px 2px,
    #000 1px 1px 0px,
    #000 2px 2px 0px,
    #000 3px 3px 0px,
    #000 4px 4px 0px;
  transform: translate(-4px, -4px);
  border: #000 2px solid;
}

.tablo * {
  pointer-events: none;
}

.tablo.tablo-unloaded {
  opacity: 0%;
}

.tablo>div {
  transition: opacity 100ms;
  height: 100%;
  width: 100%;
  position: relative;
  top: -24px;
  opacity: 0;
  background-color: #0008;
}

.tablo:hover {
  box-shadow:
    #000 inset 1px 0px 2px,
    #000 inset 0px 1px 2px,
    #000 inset -1px 0px 2px,
    #000 inset 0px -1px 2px,
    #00BBFF 1px 1px 0px,
    #00BBFF 2px 2px 0px,
    #00BBFF 3px 3px 0px,
    #00BBFF 4px 4px 0px;
  border: #00BBFF 2px solid;
}

.tablo:hover:active {
  box-shadow:
    #000 inset 1px 0px 2px,
    #000 inset 0px 1px 2px,
    #000 inset -1px 0px 2px,
    #000 inset 0px -1px 2px,
    #00BBFF 1px 1px 0px;
  transform: translate(-1px, -1px);
}

.tablo:hover>div {
  opacity: 1;
}