<div>
    <h3>
        <span class="date-label">{{date}}</span>
        {{#if title}}
        - <span class="title-label">{{title}}</span>
        {{/if}}
    </h3>
    {{#if desc}}
    <hr>
    <p>
        {{desc}}
    </p>
    {{/if}}
</div>