<div>
    <h3>
        {{#if title}}
        <div class="title-label">{{title}}</div>
        {{/if}}
        <div class="date-label">{{date}}</div>
    </h3>
    {{#if desc}}
    <hr>
    <p>
        {{desc}}
    </p>
    {{/if}}
</div>